<% title "Events" %>

<h3><%= Time.current.year %> Events Schedule</h3>

<div id="accordion">
  <!-- Colorado Seaplane -->
  <!-- <div class="card">
    <div class="card-header" id="headingCSP">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseCSP" aria-expanded="true" aria-controls="collapseCSP">
          Colorado Seaplane: July 14
        </button>
      </h5>
    </div>

    <div id="collapseCSP" class="collapse <% if $date < ($csp_closed) %>show <% end %>" aria-labelledby="headingCSP" data-parent="#accordion">
      <p class="text-center"><%= image_tag("Events/cspi.jpg", :alt => "Colorado Seaplane Inititaive", :class =>"img-fluid img-thumbnail") %></p>

      <h2>Moutain Splash-In</h2>
      <div class="table-responsive-sm">
        <table class="table">
          <tr class="text-center">
            <th>Type</th>
            <th>Date</th>
            <th>Location</th>
            <th>Download Schedule</th>
          </tr>
          <tr class="text-center">
            <td>Spectator</td>
            <td>July 141</td>
            <td>Kenney Reservoir</td>
            <td><a href="https://www.coseaplanes.org/wp-content/uploads/2018/06/Poster06132018.pdf" target="_blank">Print Schedule</a></td>
          </tr>
        </table>
        <hr />
      </div>

      <p>This year we expect to have a large-scale RC seaplane demonstration performed by Ricky Thomas. It is interesting to note that RC seaplanes are treated the same as actual seaplanes, they are prohibited in State-controlled waters. And since they are, we will have them go through an inspection, just like their “big brothers”.</p>

      <p>For more information about the Colorado Seaplane Initiative visit their <a href="https://www.coseaplanes.org" target="_blank">website</a>.</p>
    </div>
  </div> -->

  <!-- Rally -->
  <div class="card">
    <div class="card-header" id="headingRally">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseRally" aria-expanded="true" aria-controls="collapseRally">
          Rally Colorado: July 26-27
        </button>
      </h5>
    </div>

    <div id="collapseRally" class="collapse <% if $date.between?($csp_closed, $rc_closed) %>show <% end %>" aria-labelledby="headingRally" data-parent="#accordion">
      <div class="card-body">
        <p class="text-center"><%= image_tag("Events/Rally-Colorado.png", :alt => "Rally Colorado", :class =>"img-fluid img-thumbnail") %></p>

        <h2>Rally Colorado</h2>
        <div class="table-responsive-sm">
          <table class="table">
            <tr class="text-center">
              <th>Type</th>
              <th>Date</th>
              <th>Staging</th>
              <th>Schedule</th>
            </tr>
            <tr class="text-center">
              <td>Spectator</td>
              <td>July 26-27</td>
              <td>Rangely Auto Museum</td>
              <td><a href="http://rally-america.com/events" title="Rally Schedule">View Schedule</a></td>
            </tr>
          </table>
          <hr />
        </div>

        <p>Experience the return of Stage Rally to Colorado when Rally Colorado roars to life in Rangely,  Rio Blanco County, Colorado.<br />
        This event promises to challenge drivers and co-drivers to their fullest.</p>

        <p>These are not rough roads; they are truly busy with many corners and serious grades resulting in no time to relax on-stage,
        competitors (and volunteers) will be tired at the end of each day.</p>

        <p>Come join us for a fun family motorsport event in Rangely Colorado,
        this July.</p>

        <p>Event information: <strong><a href="http://rally-america.com/events" target="_blank" title="Rally Colorado - Event Schedule">Event Schedule</a></strong>.</p>

        <p>For more informaton about: <strong><a href="http://rally-america.com" target="_blank" title="Rally America Competitor Info">Rally America</a></strong>.</p>

      </div>
    </div>
  </div>

  <!-- ROAR -->
  <div class="card">
    <div class="card-header" id="headingROAR">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseROAR" aria-expanded="true" aria-controls="collapseROAR">
          Rangely OHV Adventure Rally (ROAR): May 3-5
      </h5>
    </div>

    <div id="collapseROAR" class="collapse <% if $date.between?($rc_closed, $roar_closed) %>show <% end %>" aria-labelledby="headingROAR" data-parent="#accordion">
      <div class="card-body">
        <p class="text-center"><%= image_tag("Events/Banner-logo-ROAR.png", :alt => "ROAR", :class =>"img-fluid img-thumbnail") %></p>

        <h2>ROAR</h2>

        <div class="table-responsive-sm">
          <table class="table">
            <tr class="text-center">
              <th>Type</th>
              <th>Date</th>
              <th>Staging</th>
              <th>Lodging</th>
              <th>Schedule</th>
            </tr>
            <tr class="text-center">
              <td>
                ROAR - OHV <br/> Rally and Ride
              </td>
              <td>May 3-5</td>
              <td>Rangely Auto Museum</td>
              <td><%= link_to "Lodging", lodging_index_path, :title => "Where to Stay" %></td>
              <td><a href="https://drive.google.com/open?id=1weQQsBHUx6myBoj2z8bXQf0z8uTClvIr" title="Download & Print copy of Schedule" target="_blank">Print Schedule</a></td>
            </tr>
          </table>
          <hr />
        </div>

        <p>Rangley OHV Adventure Rally is a three day event on the Wagon Wheel West OHV trail system. The event kicks off with a fun ride at dusk to Kenney Reservoir, and ends with a musical concert at the park. During the event you can find many different things to do such as guided rides, The Amazing Quest, an OHV rodeo, a poker run hosted by Rio Blanco County Search & Rescue, an ongoing OHV expo, scavenger hunts, and hundreds of miles of trails for open riding. Included in those trails, is the only designated rock crawling park In Colorado! Come test out your car on some of the most difficult obstacles around.</p>

        <p>Come ride the High Mountain Desert of God's Country!!!!!</p>

        <p>All roads in Rangely are legal for OHV use, aside from CO HWY 64 (main street) which can only be crossed, as long as the machine is
        properly equipped. Required equipment includes: headlight, tail light, brakes, and a muffler/spark arrestor. Additional info can be found
        here.</p>

        <!-- Reg info -->
        <div class="row">
          <div class="col-6">
            <h3><u>Registration</u></h3>

            <p><strong>Early Registration (Ends April 25th)</strong></p>
            <ul>
              <li>Each Buggy is $65</li>
            </ul>

            <p><strong>After April 25th:</strong></p>
            <ul>
              <li>Each Buggy is $70, and T-Shirt is not guaranteed</li>
            </ul>
          </div>
          <div class="col-6">
            <h3><u>What's included?????</u></h3>
            <ul>
              <li>2 - Breakfast's</li>
              <li>1 - Dinner</li>
              <li>Ice Cream Social</li>
              <li>Goodie Bag</li>
              <li>T-shirt</li>
              <li>1 Event Entry Ticket For The <a href="https://drive.google.com/open?id=1k1YTrJwVd79tHU__HwvTVXzCAOgEEfoF" target="_blank">OHV Rodeo</a></li>
              <li>BLM Permitting & Daily Fee</li>
          </div>
        </div>

        <hr />
        <!-- Sched -->
        <h3><u>ROAR <%= Time.current.year %> Schedule</u></h3>
        <div class="row">
          <div class="col-6">
            <p><strong>Thursday</strong></p>
            <ul>
              <li>All-Day – Scavenger Hunt <span class="text-uppercase">opens</span></li>
              <li>5:30PM – Volunteer Meeting @ Trap Club (Pizza for Dinner included)</li>
            </ul>
          </div>
          <div class="col-6">
            <p><strong>Friday </strong></p>
            <ul>
              <li>All Day – OHV Expo</li>
              <li>7:00-8:00AM – Breakfast</li>
              <li>7:00-8:00AM – Registration/Check-In/ Trail Sign-up</li>
              <li>8:00-8:30AM – Riders Meeting</li>
              <li>8:30AM-5:30PM – Guided Rides</li>
              <li>3:00PM – Shrimp Boil at Elk’s Park</li>
              <li>5:00PM – Nightride</li>
            </ul>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-6">
            <p><strong>Saturday</strong></p>
            <ul>
              <li>All Day – OHV Expo</li>
              <li>7:00-8:00AM – Breakfast</li>
              <li>7:00-8:00AM – Registration/Check-In/ Trail Sign-up</li>
              <li>8:30AM-5:00PM – Guided Rides</li>
              <li>9:00AM-4:00PM – OHV Poker Run – RBC Search & Rescue</li>
              <li>3:00PM-4:00PM – Set up ROAR Store</li>
              <li>6:00PM – <a href="https://drive.google.com/open?id=1mjbwbuLDMekp0D16xhNXZx4J259fLPC-" target="_blank">Dinner at Columbine Park</a></li>
              <li>7:00PM – <a href="https://drive.google.com/open?id=1k1YTrJwVd79tHU__HwvTVXzCAOgEEfoF" target="_blank">OHV Rodeo</a></li>
            </ul>
          </div>
          <div class="col-6">
            <h4><strong><a href="https://drive.google.com/open?id=1X-llDmlYpIQ5P5C3agK_bricCdtYKH7u" target="_blank">OHV Rodeo Prizes</a></strong></h4>
            <p class="small">Prize are given for each category</p>
            <ul>
              <li><strong>1st Place:</strong> $50</li>
              <li><strong>2nd Place:</strong> $25</li>
              <li><strong>3rd Place:</strong> $15</li>
            </ul>
            <h4><strong>Winner Overall:</strong> Free 2020 ROAP Registration</h4>

          </div>
      </div>
    </div>
  </div>

  <!-- Canyon Pintado Hillclimb -->
  <div class="card">
    <div class="card-header" id="headingCPHC">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseCPHC" aria-expanded="false" aria-controls="collapseCPHC">
          Colorado Hill Climb Association: June 15-16 & Sept 7-8
        </button>
      </h5>
    </div>
    <div id="collapseCPHC" class="collapse <% if $date.between?($roar_closed, $cphc_closed) %>show <% end %>" aria-labelledby="headingCPHC" data-parent="#accordion">
      <div class="card-body">
        <p class="text-center"><%= image_tag("Events/Canyon-Pintado-Hillclimb.png", :alt => "Canyon Pintado Hillclimb", :class =>"img-fluid img-thumbnail") %></p>

        <h2>Canyon Pintado Hillclimb</h2>
        <div class="table-responsive-sm">
          <table class="table">
            <tr class="text-center">
              <th>Type</th>
              <th>Location</th>
              <th>Date</th>
              <th>Download Schedule</th>
            </tr>
            <tr class="text-center">
              <td>Spectator</td>
              <td>Rangely Co</td>
              <td>June 15-16 & Sept 7-8</td>
              <td>No Schedule</td>
            </tr>
          </table>
          <hr />
        </div>

        <p>Join us for two hillclimb events in Rangley, Colorado!</p>

        <!-- <p>There will be a parade on Main Street, Friday September 7, and the drivers can drive their cars through town.</p> -->

      </div>
    </div>
  </div>
  <!-- End Canyon Pintado Hill Climb -->
</div>
<p>&nbsp;</p>
