<% title "Events" %>

<h3>2018 Events Schedule</h3>

<div id="accordion">
  <!-- Colorado Seaplane -->
  <div class="card">
    <div class="card-header" id="headingCSP">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseCSP" aria-expanded="true" aria-controls="collapseCSP">
          Colorado Seaplane: July 14
        </button>
      </h5>
    </div>

    <div id="collapseCSP" class="collapse <% if $date < ($csp_closed) %>show <% end %>" aria-labelledby="headingCSP" data-parent="#accordion">
        <p class="text-center"><%= image_tag("Events/cspi.jpg", :alt => "Colorado Seaplane Inititaive", :class =>"img-fluid img-thumbnail") %></p>

        <h2>Moutain Splash-In</h2>
        <div class="table-responsive-sm">
          <table class="table">
            <tr class="text-center">
              <th>Type</th>
              <th>Date</th>
              <th>Location</th>
              <th>Download Schedule</th>
            </tr>
            <tr class="text-center">
              <td>Spectator</td>
              <td>July 141</td>
              <td>Kenney Reservoir</td>
              <td><a href="https://www.coseaplanes.org/wp-content/uploads/2018/06/Poster06132018.pdf" target="_blank">Print Schedule</a></td>
            </tr>
          </table>
          <hr />
        </div>

        <p>This year we expect to have a large-scale RC seaplane demonstration performed by Ricky Thomas. It is interesting to note that RC seaplanes are treated the same as actual seaplanes, they are prohibited in State-controlled waters. And since they are, we will have them go through an inspection, just like their “big brothers”.</p>

        <p>For more information about the Colorado Seaplane Initiative visit their <a href="https://www.coseaplanes.org" target="_blank">website</a>.</p>
      </div>
    </div>
  </div>

  <!-- Rally -->
  <div class="card">
    <div class="card-header" id="headingRally">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseRally" aria-expanded="true" aria-controls="collapseRally">
          Rally Colorado: July 20 - 21
        </button>
      </h5>
    </div>

    <div id="collapseRally" class="collapse <% if $date.between?($csp_closed, $rc_closed) %>show <% end %>" aria-labelledby="headingRally" data-parent="#accordion">
      <div class="card-body">
        <p class="text-center"><%= image_tag("Events/Rally-Colorado.png", :alt => "Rally Colorado", :class =>"img-fluid img-thumbnail") %></p>

        <h2>Rally Colorado</h2>
        <div class="table-responsive-sm">
          <table class="table">
            <tr class="text-center">
              <th>Type</th>
              <th>Date</th>
              <th>Staging</th>
              <th>Download Schedule</th>
            </tr>
            <tr class="text-center">
              <td>Spectator</td>
              <td>July 20 - 21</td>
              <td>Rangely Auto Museum</td>
              <td>Print Schedule</td>
            </tr>
          </table>
          <hr />
        </div>

        <p>Experience the return of Stage Rally to Colorado when Rally Colorado roars to life in Rangely,  Rio Blanco County, Colorado July 20th
        to 22nd 2018. This event promises to challenge drivers and co-drivers to their fullest.</p>

        <p>These are not rough roads; they are truly busy with many corners and serious grades resulting in no time to relax on-stage,
        competitors (and volunteers) will be tired at the end of each day. Come join us for a fun family motorsport event in Rangely Colorado,
        July 20th / 21st 2018.</p>

        <p>Rally Coloradon Currently needs 30 more volunteers. Please show you suppor by <strong><a href="https://rallyamericainc.redpodium.com/rally-america-volunteer-registration" target="_blank" title="Rally Colorado Volunteer">volunteering</a></strong>
        and/or <strong><a href="https://www.facebook.com/RallyColorado2017/" target="_blank" title="Facebook - Rally Colorado">Like</a></strong> Rally Colorado.</p>

        <p>Event information: <strong><a href="http://rally-america.com/events" target="_blank" title="Rally Colorado - Event Schedule">Event Schedule</a></strong>.</p>

        <p>For competitor informaton: <strong><a href="https://rallyamericainc.redpodium.com/rally-colorado-2018" target="_blank" title="Rally America Competitor Info">Rally America</a></strong>.</p>

      </div>
    </div>
  </div>

  <!-- ROAR -->
  <div class="card">
    <div class="card-header" id="headingROAR">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseROAR" aria-expanded="true" aria-controls="collapseROAR">
          Rangely OHV Adventure Rally (ROAR): Aug 10-11
        </button>
      </h5>
    </div>

    <div id="collapseROAR" class="collapse <% if $date.between?($rc_closed, $roar_closed) %>show <% end %>" aria-labelledby="headingROAR" data-parent="#accordion">
      <div class="card-body">
        <p class="text-center"><%= image_tag("Events/Banner-logo-ROAR.png", :alt => "ROAR", :class =>"img-fluid img-thumbnail") %></p>

        <h2>ROAR</h2>

        <div class="table-responsive-sm">
          <table class="table">
            <tr class="text-center">
              <th>Type</th>
              <th>Date</th>
              <th>Staging</th>
              <th>Lodging</th>
              <th>Download Schedule</th>
            </tr>
            <tr class="text-center">
              <td>
                ROAR - OHV <br/> Rally and Ride
              </td>
              <td>Aug 10-11</td>
              <td>Rangely Auto Museum</td>
              <td><%= link_to "Lodging", lodging_index_path, :title => "Where to Stay" %></td>
              <td><a href="https://docs.google.com/document/d/1rwOCSCjNm7k2hD3PZV6tgF4IwTQ5RzAmExI6cRzJoCs/edit?usp=sharing" title="Download & Print copy of Schedule" target="_blank">Print Schedule</a></td>
            </tr>
          </table>
          <hr />
        </div>

        <p>Rangley OHV Adventure Rally is a three day event on the Wagon Wheel West OHV trail system. The event kicks off with a fun ride at dusk to Kenney Reservoir, and ends with a musical concert at the park. During the event you can find many different things to do such as guided rides, The Amazing Quest, an OHV rodeo, a poker run hosted by Rio Blanco County Search & Rescue, an ongoing OHV expo, scavenger hunts, and hundreds of miles of trails for open riding. Included in those trails, is the only designated rock crawling park In Colorado! Come test out your car on some of the most difficult obstacles around.</p>

        <p>Come ride the High Mountain Desert of God's Country!!!!!</p>

        <p>All roads in Rangely are legal for OHV use, aside from CO HWY 64 (main street) which can only be crossed, as long as the machine is
        properly equipped. Required equipment includes: headlight, tail light, brakes, and a muffler/spark arrestor. Additional info can be found
        here.</p>

        <!-- Reg info -->
        <div class="row">
          <div class="col-6">
            <h3><u>Registration</u></h3>

            <p><strong>Early Registration (Ends July 31st)</strong></p>
            <ul>
              <li>Each rider 10 years and older - $70</li>
              <li>Childern under the age of 10 are free</li>
            </ul>

            <p><strong>After July 31st:</strong></p>
            <ul>
              <li>Each Rider 10 years of age and orlder - $75, and T-Shirt is not guaranteed</li>
            </ul>
          </div>
          <div class="col-6">
            <h3><u>What's included?????</u></h3>
            <ul>
              <li>2- Breakfast's</li>
              <li>1- Dinner</li>
              <li>Ice Cream Social</li>
              <li>Goodie Bag</li>
              <li>T-shirt</li>
              <li>1 Event Entry Ticket For The OHV Rodeo</li>
              <li>BLM Permitting & Daily Fee</li>
          </div>
        </div>

        <hr />
        <!-- Sched -->
        <h3><u>ROAR 2018 Schedule</u></h3>
        <div class="row">
          <div class="col-6">
            <p><strong>Thursday</strong></p>
            <ul>
              <li>All Day – Open Riding </li>
              <li>12:00 pm - 7:00 pm – Registration/Check-In/Trail Sign-Up</li>
              <li>6:00 pm - 7:00 pm – Meet ‘n Greet with Event Staff and Guides</li>
              <li>7:00 pm – Guided Ride Night Ride to Kenny Reservoir</li>
            </ul>
          </div>
          <div class="col-6">
            <p><strong>Friday </strong></p>
            <ul>
              <li>7:00 am - 9:00 am – Breakfast</li>
              <li>7:00 am - 9:00 am – Registration/Check-In/Trail Sign-up</li>
              <li>9:00 am – Riders Meeting</li>
              <li>10:00 am – Guided Rides:
                <ul>
                  <li>Texas Mountain (Elks Park)</li>
                  <li><del>East Douglas (Rangely Auto Museum)</del></li>
                  <li>Chase Draw (EEC)</li>
                  <li>Big Ridge Loop (Rangely High School)</li>
                  <li>Cottonwood Loop (Softball Park)</li>
                  <li>Cathedral Bluffs (TBD)</li>
                  <li>Wild Horse Loop (TBD)</li>
                </ul>
              </li>
              <li>9:00 am - 4:00 pm – Amazing Quest</li>
              <li>All Day – OHV Expo</li>
              <li>10:00 am - 3:00 pm – Inflatables sponsored by WRBM Recreation & Parks District</li>
              <li>7:00 pm – OHV Rodeo (Dinner provided for registerd riders)</li>
            </ul>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-6">
            <p><strong>Saturday</strong></p>
            <ul>
              <li>7:00 am - 9:00 am – Breakfast</li>
              <li>7:00 am - 9:00 am – Registration/Check-In/Trail Sign-up</li>
              <li>10:00 am  – Guided Rides
                <ul>
                  <li>Texas Mountain (Elks Park)</li>
                  <li><del>East Douglas (Rangely Auto Museum)</del></li>
                  <li>Chase Draw (EEC)</li>
                  <li>Big Ridge Loop (Rangely High School)</li>
                  <li>Cottonwood Loop (Softball Park)</li>
                  <li>Cathedral Bluffs (TBD)</li>
                  <li>Wild Horse Loop (TBD)</li>
                </ul>
              </li>
              <li>9:00 am -4:00 pm – OHV Poker Run – Big Ridge Loop</li>
              <li>All Day – OHV Expo </li>
              <li>7:00 pm – Concert sponsored by WRBM Recreation & Park District</li>
            </ul>
          </div>
          <div class="col-6">
            <p><strong>Sunday</strong></p>
            <ul>
              <li>All Day - Open Riding</li>
            </ul>

        </div>

        <p>Download and <a href="https://docs.google.com/document/d/1rwOCSCjNm7k2hD3PZV6tgF4IwTQ5RzAmExI6cRzJoCs/edit?usp=sharing" title="Download & Print copy of Schedule" target="_blank">Print Schedule</a></p>


        <!-- <button class="btn btn-sm btn-default">Print Schedule</button> -->
      </div>
    </div>
  </div>

  <!-- Canyon Pintado Hillclimb -->
  <div class="card">
    <div class="card-header" id="headingCPHC">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseCPHC" aria-expanded="false" aria-controls="collapseCPHC">
          Colorado Hill Climb Association: Sept 7-9
        </button>
      </h5>
    </div>
    <div id="collapseCPHC" class="collapse <% if $date.between?($roar_closed, $cphc_closed) %>show <% end %>" aria-labelledby="headingCPHC" data-parent="#accordion">
      <div class="card-body">
        <p class="text-center"><%= image_tag("Events/Canyon-Pintado-Hillclimb.png", :alt => "Canyon Pintado Hillclimb", :class =>"img-fluid img-thumbnail") %></p>

        <h2>Canyon Pintado Hillclimb</h2>
        <div class="table-responsive-sm">
          <table class="table">
            <tr class="text-center">
              <th>Type</th>
              <th>Location</th>
              <th>Date</th>
              <th>Download Schedule</th>
            </tr>
            <tr class="text-center">
              <td>Spectator</td>
              <td>Rangely Co</td>
              <td>Sept 7-9</td>
              <td>No Schedule</td>
            </tr>
          </table>
          <hr />
        </div>

        <p>Join us for our first  event in Rangley, Colorado!</p>

        <p>There will be a parade on Main Street, Friday September 7, and the drivers can drive their cars through town.</p>

      </div>
    </div>
  </div>
  <!-- End Canyon Pintado Hill Climb -->
</div>
<p>&nbsp;</p>
