<% title "Thank You for Registring" %>

<h3>Please confirm the Registration</h3>

<!-- What do I need to know:
    1. How many riders
    2. How many lunches
    3. Total price
-->

<!-- <p>What is the id: <%= @rider_id %></p> -->

<!-- <p>Whats in an array: <%=  @order %></p> -->

<hr />
<%= form_tag do %>
  <%= hidden_field_tag('Bearer', 'sandbox-sq0atb-h6g3t46c-Iymqs0X3PRwJQ') %>
  <div class="form-group row">
    <%= label_tag(:num_riders,"Number of Riders:", class: "col-sm-2 col-form-label") %>
    <div class="col-sm-2">
      <%= text_field_tag(:num_riders, @total_riders, class:"form-control-plaintext", readonly: true) %>
    </div>
    <div class="col-sm-2">
      <%= text_field_tag(:rider_cost, number_to_currency(@trc), class:"form-control-plaintext", readonly: true) %>
    </div>
  </div>
  <div class="form-group row">
    <%= label_tag(:num_lunches,"Number of Lunches:", class: "col-sm-2 col-form-label") %>
    <div class="col-sm-2">
      <%= text_field_tag(:num_lunches, @total_lunch, class:"form-control-plaintext", readonly: true) %>
    </div>
    <div class="col-sm-2">
      <%= text_field_tag(:lunch_cost, number_to_currency(@tlc), class:"form-control-plaintext", readonly: true) %>
    </div>
  </div>
  <hr />
  <div class="form-group row">
    <%= label_tag(:grand_total,"Grand Total:", class: "col-sm-4 col-form-label") %>
    <div class="col-sm-2">
      <%= text_field_tag(:grand_total, number_to_currency(@Grandtotal), class:"form-control-plaintext", readonly: true) %>
    </div>
  </div>
  <hr />
  <p>&nbsp;</p>
  <div class="row">
    <div class="col-sm-4 offset-sm-4">
      <%= submit_tag("Confirm Checkout", class: "btn btn-md btn-primary") %>
      <!-- <%= link_to "Confirm Checkout", square_index_url, class: "btn btn-md btn-primary" %> -->
    </div>
  </div>
<% end %>

<p>&nbsp;</p>
