<% title "Registration Conformation" %>

<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>

<div id="sq-ccbox">
  <!--
    You should replace the action attribute of the form with the path of
    the URL you want to POST the nonce to (for example, "/process-card")
  -->

<%= form_with scope: :square, url: square_index_path, :class => "needs-validation", :id => "nonce-form", novalidate: true do |f| %>
      <div class="table-responsive">
          <table class="table table-bordered">
            <tr>
              <th colspan="3">Confirm of Order</th>
              <th>Credit card</th>
            </tr>
            <tr>
              <th width="10%">Item</th>
              <th width="5%">Quantity</th>
              <th width="10%">Totals</th>
              <td rowspan="5" width="40%">
                <div class="form-group row">
                  <label for="sq-card-number" class="col-sm-4 col-form-label">Card Number:</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="sq-card-number" placeholder="Card Number" required>
                    <div id="cardNumber" class="invalid"></div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="sq-cvv" class="col-sm-4 col-form-label">CVV:</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="sq-cvv" placeholder="CVV" required>
                    <div id="cvv" class="invalid"></div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="sq-expiration-date" class="col-sm-4 col-form-label">Expiration Date:</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" name="exp-date" id="sq-expiration-date" placeholder="Expiration Date" required>
                    <div id="expirationDate" class="invalid"></div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="sq-postal-code" class="col-sm-4 col-form-label">Postal Code:</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="sq-postal-code" placeholder="Postal Code" required>
                    <div id="postalCode" class="invalid" ></div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-10 offset-sm-2">
                    <button id="sq-creditcard" class="btn btn-md btn-primary" onclick="requestCardNonce(event)">
                      Pay with card
                    </button>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="text-left">Riders under 10</td>
              <td><%= @pass_free %></td>
              <td class="text-uppercase"><strong><em>Ride Free</em></strong></td>
            </tr>
            <tr>
              <td class="text-left">Riders over 10</td>
              <td><%= @pass_pay %> <small>x $70.00</small></td>
              <td><%=number_to_currency(@trc) %></td>
            </tr>
            <tr>
              <td class="text-left">Lunches</td>
              <td><%= @lunch %> <small>x $8.00</small></td>
              <td><%= number_to_currency(@tlc) %></td>
            </tr>
            <tr>
              <td colspan="2" class="text-left">Grand Total</td>
              <td><%= number_to_currency(@Grandtotal) %></td>
            </tr>
          </table>
        </div>

    <!-- After a nonce is generated it will be assigned to this hidden input field. -->
    <input type="hidden" id="sq_total" name="sq_total" value="<%= @Grandtotal %>" >
    <input type="hidden" id="card-nonce" name="nonce">
  <% end %>
</div>
