<% title "Registration Conformation" %>


<table>
  <% @resp.each do |output| %>
  <tr>
      <td><%= output[0] %></td>
      <td><%= output[1] %></td>
      <td><%= output[2] %></td>
      <td><%= output[3] %></td>
      <td><%= output[4] %></td>
      <td><%= output[5] %></td>
      ...
  </tr>
  <%end%>
</table>

<p>testing page</p>
