<% title "Gallery" %>

<div class="row">
  <div class="col pb-3">
    <h3 class="text-center">Creating New Memories Every Year</h3>
  </div>
</div>

<!-- Row 1 -->
<div class="row">
  <div class="col-sm-6">
    <%= link_to(image_tag("Gallery/CSP.jpg", :alt => "Colorado Seaplane Inititaive", :class => "img-fluid img-thumbnail"), new_gallery_path(@galler, :page => "seaplane")) %>
    <h3 class="text-center"><%= link_to("Colorado Seaplane", new_gallery_path(@galler, :page => "seaplane")) %></h3>
  </div>
  <div class="col-sm-6">
    <%= link_to(image_tag("Gallery/RallyColorado.png", :alt => "Rally Colorado", :class => "img-fluid img-thumbnail"), new_gallery_path(@galler, :page => "rally colorado")) %>
    <h3 class="text-center"><%= link_to("Rally Colorado", new_gallery_path(@galler, :page => "rally colorado")) %></h3>
  </div>
</div>
<!-- Row 2 -->
<div class="row">
  <div class="col-sm-6">
    <%= link_to(image_tag("Gallery/ROAR.jpg", :alt => "ROAR", :class => "img-fluid img-thumbnail"), new_gallery_path(@galler, :page => "roar")) %>
    <h3 class="text-center"><%= link_to("ROAR", new_gallery_path(@galler, :page => "roar")) %></h3>
  </div>
  <div class="col-sm-6">
    <%= link_to(image_tag("Gallery/Hillclimb.jpg", :alt => "Canyon Pintado Hillclimb", :class => "img-fluid img-thumbnail"), new_gallery_path(@galler, :page => "canyon pintado hillclimb")) %>
    <h3 class="text-center"><%= link_to("Canyon Pintado Hillclimb", new_gallery_path(@galler, :page => "canyon pintado hillclimb")) %></h3>
  </div>
</div>
