<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123126932-1"></script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-123126932-1');
  </script>

  <title> ROAR - <%= content_for?(:title) ? yield(:title) : 'Rangely OHV Adventure Ride' %> </title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all' %>

  <!-- Snip Cart -->
  <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />

  <!-- print PDF of page -->

  <%= javascript_include_tag 'application' %>

  <!-- Square -->
  <script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script>

  <!-- snipcart -->
  <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="ZDY2ZThjZmMtYTQzYS00YTVjLWFhMTQtYTMyOTE3NWEyNmJkNjM2ODAyNjEzODcxNDY5NTQ3" data-autopop="false"></script>



</head>
