<head>
  <title> ROAR - <%= content_for?(:title) ? yield(:title) : 'Rangely OHV Adventuer Ride' %> </title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all' %>

  <!-- print PDF of page -->
  <link rel="stylesheet" href="../../stylesheets/coloringpage.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="../../stylesheets/coloringpageprint.css" type="text/css" media="print" />

  <!-- Square -->
  <script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script>

  <%= javascript_include_tag 'application' %>



</head>
