<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">ROAR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Trail Information</a>
        <div class="dropdown-menu">
          <%= link_to "Rules & Regulations", rules_regs_url, :class => "dropdown-item" %>
          <%= link_to "Trail Rating", trail_ratings_url, :class => "dropdown-item" %>
          <%= link_to "Trails", trails_url, :class => "dropdown-item", :title =>"Trails" %>
        </div>
      </li>
      <li class="nav-item"><%= link_to "Events", events_index_url, :class => "nav-link" %></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Registration</a>
        <div class="dropdown-menu">
          <%= link_to "Rider", riders_url, :class => "dropdown-item" %>
          <!-- <a <% if $roar_closed < $date %>hidden<% end %> href="https://www.eventbrite.com/e/rangely-ohv-adventure-rally-roar-tickets-46452798571" target="_blank" class="dropdown-item">Rider</a> -->
          <%= link_to "Vendor", vendors_url, :class => "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item"><%= link_to "Gallery", gallery_index_path, :class => "nav-link" %></li>
      <li class="nav-item"><%= link_to "Lodging", lodging_index_url, :class => "nav-link" %></li>
      <li class="nav-item"><%= link_to "Contact", contact_index_url, :class => "nav-link" %></li>
    </ul>

    <address>
      <strong>Rangely Chambers of Commerce</strong><br/>
      <abbr title="phone">P: (970) 675-5290</abbr>
    </address>

  </div>
</nav>
