<h3>Sponsors</h3>
<!-- Ridgeline -->
<!-- row 1 -->
<div class="row p-2">
  <div class="col-sm-12">
    <%= image_tag("Sponsors/RM-CORP-LOGO.png", :alt => "Rocky Mountain ATV - Logo", :class => "img-fluid img-thumbnail") %>
  </div>
</div>
<!-- row 2 -->
<div class="row p-2">
  <div class="col-sm-12">
    <%= image_tag("Sponsors/Giovannis.png", :alt => "Giovannies - Logo", :class => "img-fluid img-thumbnail") %>
  </div>
</div>
<!-- Row 3 -->
<div class="row p-2">
  <div class="col-sm-12">
   <%= image_tag("Sponsors/Warn.png", :alt => "Warn", :class => "img-fluid img-thumbnail") %>
 </div>
</div>
<!-- Row 3 -->
<div class="row p-2">
  <div class="col-sm-12">
    <%= image_tag("Sponsors/Ridgeline-Motorsports/IMG_4917.jpg", :alt => "Ridgeline", :class => "img-fluid img-thumbnail") %>
  </div>
</div>
<!-- row 4 -->
<div class="row p-2">
  <div class="col-sm-12">
    <%= image_tag("Sponsors/Ridgeline-Motorsports/Logo.gif", :alt => "Ridgeline - Logo", :class => "img-fluid img-thumbnail") %>
  </div>
</div>
<!-- row 5 -->
<div class="row p-2">
  <div class="col-sm-12">
    <%= image_tag("Sponsors/NetworkUnlimited.png", :alt => "Network Unlimited", :class => "img-fluid img-thumbnail") %>
  </div>
</div>
<!-- row 6 -->
<div class="row p-2">
  <div class="col-sm-12">
    <%= image_tag("Sponsors/Napa.jpg", :alt => "Napa", :class => "img-fluid img-thumbnail") %>
  </div>
</div>
<!-- Row 7 -->
<div class="row p-2">
  <div class="col-sm-12">
    <%= image_tag("Sponsors/UtahGas.png", :alt => "Utah Gas", :class => "img-fluid img-thumbnail") %>
  </div>
</div>
