<h3>Sponsors</h3>
<!-- Ridgeline -->
<p>Duco | York</p>
<p><%= image_tag("Sponsors/Giovannis.png", :alt => "Ridgeline - Logo", :class => "img-fluid img-thumbnail") %>
   <%= image_tag("Sponsors/Warn.png", :alt => "Warn", :class => "img-fluid img-thumbnail") %></p>
<p><%= image_tag("Sponsors/Ridgeline-Motorsports/IMG_4917.jpg", :alt => "Ridgeline", :class => "img-fluid img-thumbnail") %></p>
<p><%= image_tag("Sponsors/Ridgeline-Motorsports/Logo.gif", :alt => "Ridgeline - Logo", :class => "img-fluid img-thumbnail") %></p>

<p><%= image_tag("Sponsors/NetworkUnlimited.png", :alt => "Network Unlimited", :class => "img-fluid img-thumbnail") %></p>

<p><%= image_tag("Sponsors/Napa.jpeg", :alt => "Napa", :class => "img-fluid img-thumbnail") %></p>
<p><%= image_tag("Sponsors/UtahGas.png", :alt => "Utah Gas", :class => "img-fluid img-thumbnail") %></p>
