<!DOCTYPE html>
<html>
  <%= render "head" %>

  <body>
    <!-- Navigation -->
    <%= render "nav" %>

    <!-- Title -->
    <% if yield(:title).empty? %>
    <div id="homepage" class="text-center">
      <%= yield %>
    </div>
    <% else %>
      <!-- top page title row -->
      <div class="container-fluid" id="page">
        <div class="row">
          <div class="col-sm-12 pl-4 pb-4">
            <h1><a id="top"><%= yield(:title) %></a></h1>
          </div>
        </div>
      </div>

      <!-- Content Row -->
      <div class="container-fluid">
        <div class="row">
          <!-- left nave and logo column -->
          <div class="col-sm-2">
            <!-- call left nav content -->
            <%= render "leftnav" %>
          </div>

          <!-- Page Content Column -->
          <div class="col-md-9 pl-5">
            <%= yield %>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <%= render 'footer' %>
    <% end %>
  </body>
</html>
