<!DOCTYPE html>
<html>
  <%= render "head" %>

  <body>
    <a class="sr-only sr-only-focusable" href="#content">Skip to content</a>
    <!-- Navigation -->
    <%= render "nav" %>

    <!-- Title -->
    <% if yield(:title).empty? %>
      <div id="homepage" class="text-center">
      <%= yield %>
    </div>

    <div id="content">
      <p>Welcome to Rangely OHV Adventure Rally. We offer a range of trails for all skill levels.
      Checkout our trails and come take a ride. We look forward to seeing you in our town soon.</p>
    </div>
    <% else %>
      <!-- top page title row -->>
      <div class="container-fluid" id="page">
        <div class="row">
          <div class="col-sm-12 pl-4 pb-4">
          <h1><a id="top"><%= yield(:title) %></a></h1>
          </div>
        </div>
      </div>

      <!-- Content Row -->
      <div class="container-fluid">
        <div class="row">
          <!-- left nave and logo column -->
          <div class="col-sm-2">
            <!-- call left nav content -->
            <%= render "leftnav" %>
          </div>

          <!-- Page Content Column -->
          <div class="col-md-9 pl-5"  id="content">
            <%= yield %>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <%= render 'footer' %>
    <% end %>
  </body>
</html>
