<!DOCTYPE html>
<html>
  <head>
    <title> ROAR - <%= content_for?(:title) ? yield(:title) : 'Rangely OHV Adventuer Ride' %> </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <!-- Navigation -->
    <%= render "nav" %>

    <!-- Title -->
    <% if yield(:title).empty? %>
      <%= yield %>
    <% else %>
      <!-- top page title row -->
      <div class="container-fluid" id="page">
        <div class="row">
          <div class="col-sm-12 pl-4 pb-4">
            <h1><a id="top"><%= yield(:title) %></a></h1>
          </div>
        </div>
      </div>

      <!-- Content Row -->
      <div class="container-fluid">
        <div class="row">
          <!-- left nave and logo column -->
          <div class="col-sm-2">
            <!-- call left nav content -->
            <%= render "leftnav" %>
          </div>

          <!-- Page Content Column -->
          <div class="col-md-9 pl-5">
            <p>&nbsp;</p>
            <%= yield %>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <%= render 'footer' %>
    <% end %>
  </body>
</html>
